img {
    width: 200px;
}
body {
    text-align: center;
    font-family: "Verdana";
    color: purple;
    background-color: turquoise
}
intro {
    text-align: left;
    font-family: "Verdana";
    color: red;
}
input{
    height: 50px;
    width: 100px;
    font-size: 60;
    text-align: center;
    background-color: turquoise;
    color: white;
}